# 7. Indexes and Views in RDBMS
## 1. Indexing
### What are Indexes?

Indexes in SQL are data structures that provide a quick lookup mechanism to find specific records in a database table. They work similarly to the index of a book, where the index lists page numbers for topics, making it faster to find information.

### How Do Indexes Work?

1. **Structure**: Indexes are created on columns in database tables. These columns can be primary keys (automatically indexed) or other frequently queried columns.

2. **Functionality**: When you query a table using a column that has an index, the database engine uses the index to quickly locate the rows that match the query condition. Without an index, the database would need to scan every row in the table, which can be slower, especially for large tables.

### Types of Indexes

1. **Primary Index**: Created automatically on columns defined as the primary key. It uniquely identifies each row in the table.

2. **Secondary Index**: Created explicitly on columns other than the primary key. These are used to speed up searches on frequently queried columns.

3. **Composite Index**: Created on multiple columns. It is useful when queries involve multiple columns in the `WHERE` clause.

### Advantages of Indexes

1. **Faster Data Retrieval**: Queries that use indexed columns can be resolved more quickly.
   
2. **Efficient Sorting and Grouping**: Indexes help in sorting and grouping operations, as the database can use the index's order rather than sorting from scratch.

3. **Enhanced Performance**: They reduce the need for full table scans, improving overall database performance.

### Considerations

1. **Overhead**: Indexes occupy disk space and can slow down data modification operations (like `INSERT`, `UPDATE`, `DELETE`) because the index must be updated alongside the table.

2. **Choosing Columns**: Indexing every column is not always beneficial; choose columns based on their usage in queries.

### Creating and Managing Indexes

In SQL, you can create indexes using `CREATE INDEX` statement:

```sql
CREATE INDEX index_name ON table_name(column_name);
```

To drop an index:

```sql
DROP INDEX index_name ON table_name;
```

### Real Time Example 

Let's consider a table called `products` with the following structure:

| Column        | Data Type    |
|---------------|--------------|
| product_id    | INT          |
| product_name  | VARCHAR(100) |
| category      | VARCHAR(50)  |
| price         | DECIMAL(10,2)|
| stock_quantity| INT          |

### Scenario

Suppose we have a large dataset of products, and we frequently need to query products by their `category`.

### Without Index

Initially, without any indexes, if we want to find all products in a specific category (e.g., 'Electronics'), the database might need to scan the entire `products` table:

```sql
SELECT * FROM products WHERE category = 'Electronics';
```

Without an index on the `category` column, the database would sequentially scan through each row to find those matching the `category = 'Electronics'`. This becomes inefficient as the table grows larger.

### Creating an Index

To improve the query performance, we create an index on the `category` column:

```sql
CREATE INDEX idx_category ON products(category);
```

### Querying with Index

After creating the index, when we query for products in the 'Electronics' category:

```sql
SELECT * FROM products WHERE category = 'Electronics';
```

The database engine can now use the `idx_category` index to quickly locate and retrieve all products belonging to the 'Electronics' category. Instead of scanning the entire table, it efficiently accesses only the relevant rows based on the indexed values.

### Clustered and Non-Clustered Indexes

Indexes in SQL databases are used to speed up data retrieval. There are two main types of indexes: clustered and non-clustered. Understanding the differences between these two types is crucial for database optimization.

### Clustered Index

A clustered index determines the physical order of data in a table. There can only be one clustered index per table because the data rows themselves can only be sorted in one order.

- **Physical Order**: The rows in the table are stored on the disk in the same order as the index.
- **Primary Key**: By default, a primary key creates a clustered index.

### Non-Clustered Index

A non-clustered index, on the other hand, does not alter the physical order of the table. It creates a separate object within the table that points back to the original table rows after performing a quick lookup.

- **Logical Order**: The index contains pointers to the data rows. The data rows are stored in a different order.
- **Multiple Indexes**: You can create multiple non-clustered indexes on a single table.

### Real-Time Example

Let's consider a table `students` with the following structure:

| Column        | Data Type     |
|---------------|---------------|
| student_id    | INT           |
| first_name    | VARCHAR(50)   |
| last_name     | VARCHAR(50)   |
| birth_date    | DATE          |
| grade         | INT           |

### Clustered Index Example

Typically, the `student_id` column would be the primary key, and thus, it would have a clustered index:

```sql
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    birth_date DATE,
    grade INT
);
```

This command creates a clustered index on `student_id`. The rows in the `students` table are stored in ascending order of `student_id`.

### Non-Clustered Index Example

Suppose we frequently query the `students` table to find students by their `last_name`:

```sql
SELECT * FROM students WHERE last_name = 'Smith';
```

To speed up these queries, we can create a non-clustered index on the `last_name` column:

```sql
CREATE INDEX idx_last_name ON students(last_name);
```

This creates a non-clustered index on the `last_name` column. The database engine will use this index to quickly find the rows where the `last_name` is 'Smith', and then it will use the pointers to access the actual rows in the `students` table.

### Key Differences

- **Order of Data Storage**:
  - Clustered Index: Changes the physical order of the data.
  - Non-Clustered Index: Does not change the physical order of the data.

- **Number of Indexes**:
  - Clustered Index: Only one per table.
  - Non-Clustered Index: Multiple per table.

- **Data Access**:
  - Clustered Index: Faster for range queries as the data is stored in sorted order.
  - Non-Clustered Index: Good for exact lookups and queries involving specific columns.

## 2. Views in RDBMS
Views in SQL are virtual tables derived from the result-set of a SQL query. They allow you to simplify complex queries, hide complexity, and provide a layer of abstraction over the underlying database schema. Hereâ€™s a comprehensive overview of views in SQL, including concepts, syntax, and examples.

### Concepts of Views

1. **Virtual Tables**: Views do not store data themselves; instead, they are dynamically generated based on the underlying tables or other views.
   
2. **Abstraction**: Views can simplify complex SQL queries by encapsulating joins, calculations, and filters into a single, reusable object.
   
3. **Security**: Views can restrict access to certain columns or rows of a table, providing a security layer by limiting the data visible to users.

### Creating Views

In SQL, you create views using the `CREATE VIEW` statement, which includes a `SELECT` query that defines the view's structure:

```sql
CREATE VIEW view_name AS
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

### Example of Creating a View

Let's say we have a database with two tables: `employees` and `departments`. We want to create a view that combines information from both tables to show the names of employees along with their department names.

```sql
CREATE VIEW employee_details AS
SELECT e.employee_id, e.first_name, e.last_name, d.department_name
FROM employees e
JOIN departments d ON e.department_id = d.department_id;
```

In this example:
- `employee_details` is the name of the view.
- `employees` and `departments` are the tables being joined.
- `employee_id`, `first_name`, `last_name`, and `department_name` are columns selected from the tables.

### Querying Views

Once a view is created, you can query it like a regular table:

```sql
SELECT * FROM employee_details;
```

This query retrieves data from the `employee_details` view, which internally executes the `SELECT` statement defined during view creation.

### Updating Views

Views can be updated using the `CREATE OR REPLACE VIEW` statement to redefine the view's query:

```sql
CREATE OR REPLACE VIEW employee_details AS
SELECT e.employee_id, e.first_name, e.last_name, d.department_name
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE e.salary > 50000;
```

### Dropping Views

To remove a view from the database:

```sql
DROP VIEW view_name;
```

### Advantages of Views

- **Simplification**: Abstracts complex SQL logic into manageable views.
- **Security**: Controls access to sensitive data by exposing only necessary columns or rows.
- **Performance**: Can improve performance by predefining joins and calculations.

### Considerations

- **Performance Overhead**: Views are dynamically executed queries, so they may introduce overhead, especially if they involve complex operations or join multiple tables.
  
- **Update Restrictions**: Depending on the database system, not all views can be updated directly (especially those involving joins or aggregations).

### Use Cases

- **Reporting**: Aggregate data from multiple tables into a single view for reporting purposes.
  
- **Data Security**: Create views that expose limited columns or rows based on user roles.
  
- **Complex Queries**: Simplify complex joins or calculations into reusable views.

### Conclusion

Views are powerful tools in SQL for creating virtual tables that simplify complex queries, enhance security, and improve data retrieval efficiency. They provide a flexible way to manage and access data without altering the underlying schema, making them essential for database design and application development.

### Real Time Example
Let's consider a real-time example using an online bookstore database. We have the following tables:

1. `books`: Contains information about books.
2. `authors`: Contains information about authors.
3. `orders`: Contains information about customer orders.
4. `customers`: Contains information about customers.

### Table Structures

**`books` Table:**

| Column        | Data Type     |
|---------------|---------------|
| book_id       | INT           |
| title         | VARCHAR(100)  |
| author_id     | INT           |
| genre         | VARCHAR(50)   |
| price         | DECIMAL(10,2) |

**`authors` Table:**

| Column        | Data Type     |
|---------------|---------------|
| author_id     | INT           |
| first_name    | VARCHAR(50)   |
| last_name     | VARCHAR(50)   |

**`orders` Table:**

| Column        | Data Type     |
|---------------|---------------|
| order_id      | INT           |
| customer_id   | INT           |
| book_id       | INT           |
| order_date    | DATE          |
| quantity      | INT           |

**`customers` Table:**

| Column        | Data Type     |
|---------------|---------------|
| customer_id   | INT           |
| first_name    | VARCHAR(50)   |
| last_name     | VARCHAR(50)   |
| email         | VARCHAR(100)  |

### Creating Views

1. **View to Show Book Details with Author Names**

We want to create a view that shows book details along with their authors' names.

```sql
CREATE VIEW book_details AS
SELECT b.book_id, b.title, b.genre, b.price, a.first_name, a.last_name
FROM books b
JOIN authors a ON b.author_id = a.author_id;
```

This view combines information from the `books` and `authors` tables to provide a comprehensive view of each book with its author's name.

2. **View to Show Customer Orders**

We want to create a view that shows customer orders with book titles and customer names.

```sql
CREATE VIEW customer_orders AS
SELECT o.order_id, c.first_name AS customer_first_name, c.last_name AS customer_last_name, b.title AS book_title, o.order_date, o.quantity
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN books b ON o.book_id = b.book_id;
```

This view combines information from the `orders`, `customers`, and `books` tables to provide detailed information about each order.

### Querying Views

1. **Query the `book_details` View**

To get all books in the "Fiction" genre along with their authors' names:

```sql
SELECT * FROM book_details
WHERE genre = 'Fiction';
```

2. **Query the `customer_orders` View**

To get all orders placed by a customer named "John Doe":

```sql
SELECT * FROM customer_orders
WHERE customer_first_name = 'John' AND customer_last_name = 'Doe';
```

### Updating Views

Let's say we want to update the `book_details` view to include only books that cost more than $20:

```sql
CREATE OR REPLACE VIEW book_details AS
SELECT b.book_id, b.title, b.genre, b.price, a.first_name, a.last_name
FROM books b
JOIN authors a ON b.author_id = a.author_id
WHERE b.price > 20;
```

### Dropping Views

To remove the `customer_orders` view from the database:

```sql
DROP VIEW customer_orders;
```

#### Prepared By,
Ahamed Basith