# 14. Aggregation Functions and MongoDb Atlas Clusters

## 1.Aggregation Functions 
### Mongodb Aggregate And Group
- avg
- sum
- project
- lookup

In [1]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentinfo']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95},
    {"user":"Ahamed",  "title":"Python", "score":95}
] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('668cbfd89651581a8a12b905'), ObjectId('668cbfd89651581a8a12b906'), ObjectId('668cbfd89651581a8a12b907'), ObjectId('668cbfd89651581a8a12b908'), ObjectId('668cbfd89651581a8a12b909'), ObjectId('668cbfd89651581a8a12b90a'), ObjectId('668cbfd89651581a8a12b90b')], acknowledged=True)

### Sum Function

In [2]:
## My question is find amit and krish total records

agg_result = collection.aggregate(
[{
        # Creating pipeline  
        "$group": {
            "_id": "$user",
            "Total Records": {"$sum": 1}
        }
} 
])

In [3]:
for record in agg_result:
    print(record)

{'_id': 'Krish', 'Total Records': 3}
{'_id': 'Ahamed', 'Total Records': 1}
{'_id': 'Amit', 'Total Records': 3}

In [4]:
### Calculating the total score based on user

agg_result = collection.aggregate(
[{
        # Creating pipeline  
        "$group": {
            "_id": "$user",  # Group by user type
            "Total Score": {"$sum": "$score"}
        }
} 
])

In [5]:
for record in agg_result:
    print(record)

{'_id': 'Amit', 'Total Score': 235}
{'_id': 'Krish', 'Total Score': 250}
{'_id': 'Ahamed', 'Total Score': 95}

### Average Function

In [6]:
### Calculating the average score based on user

agg_result = collection.aggregate(
[{
        # Creating pipeline  
        "$group": {
            "_id":"$user",
            "Total Average Score": {"$avg": "$score"}
        }
} 
])

In [7]:
for record in agg_result:
    print(record)

{'_id': 'Amit', 'Total Average Score': 78.33333333333333}
{'_id': 'Krish', 'Total Average Score': 83.33333333333333}
{'_id': 'Ahamed', 'Total Average Score': 95.0}

### datetime function

In [8]:
import datetime as datetime

In [9]:
### Create a new records
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [10]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 7, 9, 4, 44, 19, 693098)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 7, 9, 4, 44, 19, 693098)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 7, 9, 4, 44, 19, 693098)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 7, 9, 4, 44, 19, 693098)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 7, 9, 4, 44, 19, 693098)}]

In [11]:
### Create a new collection
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [12]:
### Calculating the average quantity And Average Price

agg_result = mycollection.aggregate([{
    
    # Creating a pipeline
    "$group":{
        
        "_id":"$_id",
        "avgquantity":{"$avg":"$quantity"},
        "avgprice":{"$avg":{"$multiply":["$price","$quantity"]}}
        
    }
}])

In [13]:
for record in agg_result:
    print(record)

{'_id': 1, 'avgquantity': 2.0, 'avgprice': 20.0}
{'_id': 5, 'avgquantity': 10.0, 'avgprice': 50.0}
{'_id': 2, 'avgquantity': 1.0, 'avgprice': 20.0}
{'_id': 4, 'avgquantity': 10.0, 'avgprice': 100.0}
{'_id': 3, 'avgquantity': 5.0, 'avgprice': 25.0}

In respect to id ,the id is unique so we try diferent bases on item name

In [14]:

agg_result = mycollection.aggregate([{
    
    # Creating a pipeline
    "$group":{
        
        "_id":"$item",
        "avgquantity":{"$avg":"$quantity"},
        "avgprice":{"$avg":{"$multiply":["$price","$quantity"]}}
        
    }
}])

In [15]:
for record in agg_result:
    print(record)

{'_id': 'jkl', 'avgquantity': 1.0, 'avgprice': 20.0}
{'_id': 'xyz', 'avgquantity': 7.5, 'avgprice': 37.5}
{'_id': 'abc', 'avgquantity': 6.0, 'avgprice': 60.0}

### Project
The $project stage is used to include, exclude, or add new fields in the output documents. This stage reshapes each document in the stream, such as adding computed fields, removing existing fields, or renaming fields.

In [1]:
### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [6]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['books']

In [7]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [8]:
# 1 means the particular document is included see the result
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}

In [10]:
# 1 means the particular document is excluded see the result
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1,"_id":0} } ] ):
    print(row)

{'title': 'abc123', 'isbn': '0001122223334'}
{'title': 'Baked Goods', 'isbn': '9999999999999'}

### Lookup
The $lookup stage is used to perform a left outer join to a collection in the same database to filter in documents from the "joined" collection for processing.

In [39]:
studentinfo2 = mydatabase['studentinfo2']

data = [
    {"user": "Krish", "subject": "Database", "score": 80, "isbn": "0001122223334"},
    {"user": "Amit", "subject": "JavaScript", "score": 90, "isbn": "9999999999999"},
    {"user": "Ahamed", "subject": "JavaScript", "score": 90, "isbn": "9999998999999"},

]

studentinfo2.insert_many(data)

InsertManyResult([ObjectId('668e18ece0da274d8ac136b7'), ObjectId('668e18ece0da274d8ac136b8'), ObjectId('668e18ece0da274d8ac136b9')], acknowledged=True)

In [40]:
## Lookup() is same like joins in mysql

# Access the collection
studentinfo = mydatabase['studentinfo2']

pipeline = [
    # Define the limit of documents performs in aggregation 
    {
         "$limit": 2
    },
    {
    "$lookup":{
        "from":"books", # The target collection for the join
        "localField":"isbn", # The field from studentinfo collection to match (Primary key)
        "foreignField": "isbn",# The field from books collection to match (Foreign key)
        "as": "books of student" # The name of the new array field to add
    }
}
]

result = studentinfo2.aggregate(pipeline)

# Print the results
for doc in result:
    print(doc)

{'_id': ObjectId('668e18ece0da274d8ac136b7'), 'user': 'Krish', 'subject': 'Database', 'score': 80, 'isbn': '0001122223334', 'books of student': [{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334', 'author': {'last': 'zzz', 'first': 'aaa'}, 'copies': 5}]}
{'_id': ObjectId('668e18ece0da274d8ac136b8'), 'user': 'Amit', 'subject': 'JavaScript', 'score': 90, 'isbn': '9999999999999', 'books of student': [{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999', 'author': {'last': 'xyz', 'first': 'abc', 'middle': ''}, 'copies': 2}]}

### Explanation

- Limit Stage: The limit stage limits the number of documents to 2 from the studentinfo collection.
- Lookup Stage: The lookup stage performs the join:
- from: Specifies the target collection (books).
- localField: The field from the studentinfo collection to match (title).
- foreignField: The field from the books collection to match (title).
- as: The name of the new array field to add (books_of_student).

## 2.MongoDb Atlas Clusters - Database as a Service
### Introduction

The video is about MongoDB Atlas, and how to use it as a database as a service
MongoDB Atlas is a cloud-based database service that allows users to create and manage databases in the cloud.


### What is Database as a Service (DBaaS)?

- DBaaS is a cloud-based service that allows users to create and manage databases in the cloud
- It eliminates the need to set up and manage physical hardware and software for databases
- Examples of DBaaS include MongoDB Atlas, MySQL, and PostgreSQL
### Advantages of DBaaS

- Flexibility and scalability
- Eliminates the need to manage databases separately
- Provides a flexible and scalable platform for modern applications
- Offers a secure and reliable way to store and manage data
### MongoDB Atlas

- MongoDB Atlas is a global cloud database service for modern applications
- It provides a flexible and scalable platform for deploying MongoDB in the cloud
- It offers a secure and reliable way to store and manage data
- It provides a free version with limited features and a paid version with additional features

### Creating a MongoDB Atlas Cluster

- To create a MongoDB Atlas cluster, users need to sign up for a MongoDB Atlas account and log in with their Google ID
- Users can then create a new cluster and select the cloud provider (e.g. AWS, Azure, GCP)
- Users can choose the cluster name, password, and other settings
- The cluster creation process takes around 2-3 minutes

### Connecting to the MongoDB Atlas Cluster

- To connect to the MongoDB Atlas cluster, users need to copy the connection string and paste it into their MongoDB Compass or MongoDB client
- Users need to set up a password and whitelist their IP address to access the cluster
- Users can then connect to the cluster and start creating databases and collections

### Inserting Data into the MongoDB Atlas Cluster

- To insert data into the MongoDB Atlas cluster, users need to create a client and connect to the cluster
- Users can then create a database and collection and insert data into it
- The data is stored in the cloud and can be accessed from anywhere
### Conclusion

- MongoDB Atlas is a cloud-based database service that provides a flexible and scalable platform for modern applications
- It offers a secure and reliable way to store and manage data
- Users can create a MongoDB Atlas cluster and connect to it using MongoDB Compass or MongoDB client
- Users can then insert data into the cluster and access it from anywhere.

In [41]:
# Using mongodb atlas you need to install pip with pymongo wirh srv otherwise shows error
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\anaconda\lib\site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\anaconda\lib\site-packages (from pymongo[srv]) (2.6.1)

WARNING: pymongo 4.8.0 does not provide the extra 'srv'

In [43]:
from pymongo import MongoClient
from pymongo.errors import PyMongoError

# Creation of object MongoClient
client = MongoClient("mongodb+srv://ahamedbasith006:iAPrtoRKVbQPAKlv@cluster0.gocsffm.mongodb.net/")

# Access database
mydatabase = client['Students']

# Select collection
collection = mydatabase['StudentDetails']

# Data to insert
data = [
    {"id": 1, "firstname": "Ahamed", "Lastname": "Basith", "Subject": "DBMS"},
    {"id": 2, "firstname": "Mohamed", "Lastname": "Najim", "Subject": "Python"}
]

# Insert data with error handling
try:
    result = collection.insert_many(data)
    print(f"Data inserted with ids: {result.inserted_ids}")
except PyMongoError as e:
    print(f"An error occurred: {e}")

Data inserted with ids: [ObjectId('668e2125e0da274d8ac136bd'), ObjectId('668e2125e0da274d8ac136be')]

These way to connect mongodb to the atlas cloud

#### Prepared By,
Ahamed Basith